<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.marvel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            />
        <activity android:name=".view.ImageCharactersActivity"></activity>
        <activity android:name=".view.ImageEventsActivity"></activity>
        <activity android:name=".view.ImageComicsActivity" />
        <activity
            android:name=".view.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DetailEvents"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.EventsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DetailCreators"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CreatorsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.ComicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DetailCharacters"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.DetailComics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.CharactersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>